.vscode/**
.vscode-test/**
.github/**
.claude/**
assets/icon.svg
assets/showcase/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
esbuild.js
eslint.config.mjs
yarn.lock
PRD.md
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/*.vsix
**/.vscode-test.*
